<html>
<head>
<title>Gusetbook</title>
<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
<script language="JavaScript">
<!--
var txt_limit = 3;//最大文字数
    function set_limit(that){
        var check_element = document.getElementById("message");
        var check_limit = check_element.value.length;
        if(check_limit > txt_limit){
            alert('入力文字数が '+txt_limit+'文字を越えました');
            check_element.focus();
            }
        document.form.submit();
    }
    
    function refresh() {
		window.location.reload();
	}
//-->
</script>
  </head>
  <body>
  <h1>Guestbook</h1>
    
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}

    <form name="formN" action="/sign" method="post">
      <div><textarea name="content" rows="3" cols="49" id="message" required></textarea></div>
      <div><input type="submit" value="Sign Guestbook" onClick="set_limit()" >
    </form>

	<!--meta http-equiv="refresh" content="3"-->
    
    <a href="{{ url }}">{{ url_linktext }}</a>
  </body>
</html>